#loading_gif{
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#msg_config_stk{
    /*border-right: 3px solid #0d0e11;*/
    /*border-color: #111217*/
    background-color: #2b2b2b;
}
#Chat_box{
    border-left: 3px solid #0d0e11;
    border-color: #111217;
    background-color: #2b2b2b;
}
#log_and_reg_window {
    background-color: #2b2b2b;
}
#chat_box {
    background-color: #2b2b2b;
}
#welcome_lbl {
    color: white;
}
#welcome_user {
    color: white;
}
#welcome_lbl_2 {
    color: white;
}
#search_list {
    background-color: #2b2b2b;
}
#chat_stack {
    background-color: #2b2b2b;
}
#contact_list {
    background-color: #2b2b2b;
}
#chat_list {
    background-color: #2b2b2b;
}
#chat_msg_lst_box {
    background-color: #2b2b2b;
}
#chat_msg_entry {
    background-color: #2b2b2b;
    color: white;
    font-size: 13px;
}
#ban_list {
    background-color: #2b2b2b;
}
/*-----------------------------classes----------------------------------*/
.lbl_text {
    color: white;
}

.backgrnd {
    background-color: #2b2b2b;
}

.backgrnd_btn {
    background-color: red;
}
.message_list {
    border-color: cyan;
    border-width: 3px;
}

.message_entry {
    border-color: cyan;
    border-width: 3px;
}

.message_box {
    background-color: transparent;
}

.message_entry text {
    background-color: black;
    color: cyan;
    font-weight: bold;
}

.message_lbl {
    color:cyan;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 0px 3px cyan inset;
}

.message_list {
    background-color: black;
    /* scroll-margin: 20px; /
    / margin-top: 15px; */
margin-right: 10px;
color: rgb(1, 179, 179);
}
.message_list row {
    box-shadow: 0px 0px 0px 3px cyan inset;
    margin-top: 10px;
    margin-bottom: 10px;
}


.message_list row:active, row:focus {
    box-shadow: 0px 0px 10px blue inset;
}

.sndr_intext {
    box-shadow: 0px -3px cyan inset;
    font-size: 13px;
    margin-right: 50px;
    margin-bottom: 10px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(200, 0, 0);
    text-shadow: 0px 0px 5px rgb(120, 0, 0);
}

.msg_intext {
    font-size: 24px;
    /*margin-top: 10px;*/
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(122, 255, 255);
}


.msg_outext {
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(180, 126, 235);
}

.msg_outext {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;

}
.msg_outext {
    border-color: cyan;
    border-width: 5px;
}
.msg_box {
    background-color: rgba(49, 70, 87, 0.822);
    border-color: aqua;
    border-width: 5px;
    border-radius: 15px;
}
.cont_list_ofline {
    padding-top: 5px;
    padding-bottom: 3px;
    background-color: #f72a13;
    font-size: 18px;
    color: black;
    border-radius: 5px;
}
.cont_list_online {
    padding-top: 5px;
    padding-bottom: 3px;
    background-color: #58f727;
    font-size: 18px;
    color: black;
    border-radius: 5px;
}
.cont_list_search {
    padding-top: 5px;
    padding-bottom: 3px;
    background-color: #68797c;
    font-size: 18px;
    color: black;
    border-radius: 5px;
}
.msg_time {
    color: rgb(255, 255, 255);
    font-size: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
