#loading_gif{
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#wellcome_scren{
    /*border-right: 3px solid #0d0e11;*/
    /*border-color: #111217*/
}
#msg_box{
    /*border-right: 3px solid #0d0e11;*/
    /*border-color: #111217*/
}
#Chat_box{
    border-left: 3px solid #0d0e11;
    border-color: #111217
}
#log_and_reg_window {
    background-color: #2b2b2b;
}